<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
		/>
		<title>Budgets Page</title>
	</head>
	<h1><%= budgets.name%></h1>
	<body>
        <div class="container">
            <b>Date</b>
			<p><%= budgets.date%></p>
            <b>Name</b>
			<p><%= budgets.name%></p>
            <b>From</b>
			<p><%= budgets.from%></p>
            <b>Amount</b>
			<p><%= budgets.amount%></p>
            <b>Tags</b>
			<p><%= budgets.tags%></p>
		</div>
        <button><a href=<%="/budgets/"%>>Back</button>
	</body>
</html>
